p {
    margin: 0;
}
.banner-image {
    width: 100%;
    height: 300px;
}

.banner-wrapper {
    position: relative;
}

.profile-wrapper {
    
    position: absolute;
    bottom: -10%;
    left: 75px;

}

.profile-wrapper img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.content-wrapper {
    margin-top: 30px;
    margin-left: 75px;
}

.content-wrapper li a{
    text-decoration: none;
}
.copy-right {
    font-weight: bold;
    font-size: 22px;
}
.footer-wrapper {
    padding: 15px;
    background-color: #d9d9d9;
}
footer {
    display: flex;
    justify-content: space-between;
}

